<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DribbbleSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DribbbleSwiftWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E3BBB291CFA55DD003D60BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E3BBB3A1CFA5674003D60BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E8A33A21CDD8DBD0075587B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E8A33AC1CDD8DBE0075587B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
